{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>thewoolclub</title>
</head>
<body class="background container">

  <header class="header">
    <a class="header__logo" href="{% url 'home'%}">the wool club</a>
    <nav>
      <ul class="nav__list">
        <li>
          <div class="dropdown">
            <a href="#" class="nav__item">Shop</a>
            <div class="dropdown-content">
              <a href="#">All</a>
              <a href="#">Yarn</a>
              <a href="#">Accessories</a>
              <a href="#">Patterns</a>
              <a href="#">Kits</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <a href="{% url 'learn'%}" class="nav__item">Learn</a>
            <div class="dropdown-content">
              <a href="{% url 'class_list'%}">Workshops</a>
              <a href="{% url 'the_basics'%}">The Basics</a>
              <a href="{% url 'stitch_guide'%}">Stitch Dictionary</a>
            </div>
          </div>
        </li>
        <li><a href="#" class="nav__item">Community</a></li>
        <li>
          <div class="dropdown">
            <img class="nav__svg-logo nav__item" src="{% static 'images/account.svg' %}" alt="Account">
            <div class="dropdown-content">
              {% if user.is_authenticated %}
                  <span>Logged in as: {{ user.username }}</span>
                  <a href="{% url 'my_profile' %}">My Profile</a>
                  <a href="{% url 'my_workshops' %}">My Workshops</a>
                  <a href="{% url 'my_saved_stitches' %}">My Saved Stitches</a>
                  <a href="#">My Orders</a>
                  <a href="{% url 'accounts_logout' %}">Log out</a>
              {% else %}
                  <div class="dropdown__login-register">
                    <a href="{% url 'accounts_login' %}">Login</a>
                    <span> | </span>
                    <a href="{% url 'accounts_register' %}">Register</a>
                  </div>
              {% endif %}
            </div>
          </div>        
        </li>
        <li><a href="#" class="nav__item"><img class="nav__svg-logo" src="{% static 'images/cart.svg' %}" alt="Cart"></a></li>
      </ul>
    </nav>
  </header>

  <main class="main">

    {% block content %}
        {% comment %} landing page {% endcomment %}
    {% endblock content %}

  </main>

  <footer class="footer">
    <section class="footer__nav-section">
      <div class="footer__nav-section__list">
        <span class="white-text">Help & Information</span>
        <hr>
        <br>
        <ul>
          <li><a class="footer__nav__item" href="#">Delivery</a></li>
          <li><a class="footer__nav__item" href="#">Returns & Refunds</a></li>
          <li><a class="footer__nav__item" href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="footer__nav-section__list">
        <span class="white-text">About the wool club</span>
        <hr>
        <br>
        <ul>
          <li><a class="footer__nav__item" href="#">About Us</a></li>
          <li><a class="footer__nav__item" href="#">Corporate Responsibility</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__copyright-section">
      <p class="white-text">&copy;2023 the wool club</p>
    </section>
  </footer>

</body>
</html>