{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="homepage">
    <div>
    this is <span class="bold">the wool club</span>
    </div>
    <div>
    <ul class="homepage-circles">
        <li class="circle-brown"><a class="brown-circle-text" href="#">shop</a></li>
        <li class="circle-brown"><a class="brown-circle-text" href="{% url 'learn'%}">learn</a></li>
        <li class="circle-black">
            {% if user.is_authenticated %}
                <a class="black-circle-text" href="{% url 'my_profile' %}">my profile</a>
            {% else %}
                <a class="black-circle-text" href="{% url 'accounts_register' %}">join</a>
            {% endif %}
        </li>
    </ul>
    </div>
</section>
{% endblock content %}