{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="homepage">
    <div>
    this is <span class="bold">the wool club</span>
    </div>
    <div>
    <ul class="homepage-circles">
        <li class="circle-brown"><a class="brown-circle-text" href="#">Shop</a></li>
        <li class="circle-brown"><a class="brown-circle-text" href="{% url 'learn'%}">Learn</a></li>
        <li class="circle-black"><a class="black-circle-text" href="#">Join</a></li>
    </ul>
    </div>
</section>
{% endblock content %}