/* https://images.pexels.com/photos/2042549/pexels-photo-2042549.jpeg?auto=compress&cs=tinysrgb&w=1600 */
/* https://images.pexels.com/photos/2452382/pexels-photo-2452382.jpeg?auto=compress&cs=tinysrgb&w=1600 */
/* https://images.pexels.com/photos/317333/pexels-photo-317333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
/* https://images.pexels.com/photos/5788368/pexels-photo-5788368.jpeg?auto=compress&cs=tinysrgb&w=1600 */
/* https://images.pexels.com/photos/14635223/pexels-photo-14635223.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */

/* Project colours
#0C0B0B ~ rgba 12 11 11 100%
rgba(12,11,11,0.9)

#FFFFFF ~ rgba 255 255 255 100%
rgba(255, 255, 255, 0.7)

#A4907C ~ rgba 164 144 124 100%

#8D7B68 ~ rgba 141 123 104 100%
rgba(141,123,104,0.9)

#F3F3F3 ~ rgba 243 243 243 100%
rgba(243,243,243,0.8)

#cfcabf

#8b806e

 */

 /* whole site */
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body{
     font-family: "Montserrat", sans-serif;
     color: #0C0B0B;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }
 
 .background{
     background-repeat: repeat-y;
     background-image: url('https://images.pexels.com/photos/317333/pexels-photo-317333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
     background-size: 1000px auto;
     background-position-x: center;
     background-position-y: center;
     background-attachment: fixed;
 }
 
 .container {
   max-width: 1000px;
   margin: 0 auto;
 }

 .main{
    margin-top: none;
    margin-bottom: none;
 }
 
 /* header */
 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px 0;
     background-color: #FFFFFF;
     margin: 0;
 }
   
 .header__logo {
    text-decoration: none;
    color: #0C0B0B;
    font-weight: bold;
    font-size: 20px;
 }
   
 .nav__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
 }
   
 .nav__item {
    margin-left: 30px;
    text-decoration: none;
    color: #0C0B0B;
 }
 
 .nav__svg-logo{
     height: 20px;
 }

   /* The container <div> - needed to position the dropdown content */
   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cfcabf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #0C0B0B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown__login-register{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
 /* home page styling */
 .homepage{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px 20px 20px;
  margin-top: 90px;
  font-size: 64px;
  height: 500px;
  align-items: center;
  justify-content: center;
 }

 .homepage-circles{
  display: flex;
  margin-right: 120px;
 }

.circle-brown{
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  border: 0.5px solid rgba(141,123,104,0.9);
  background-color: rgba(141,123,104,0.9);
  color: #F3F3F3;
  margin-left: 120px;
}

  .circle-black{
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  border: 0.5px solid rgba(12,11,11,0.9);
  background-color: rgba(12,11,11,0.9);
  color: #8D7B68;
  margin-left: 120px;
}

.brown-circle-text{
  color: #F3F3F3;
  text-decoration: none;
  font-weight: bold;
}

.black-circle-text{
  color: #8D7B68;
  text-decoration: none;
  font-weight: bold;
}

/* footer */

.footer{
  margin-top: auto;
}

.footer__nav-section{
  background-color: #A4907C;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
}

.footer__copyright-section{
    background-color: rgba(141,123,104,0.9);
    padding: 10px 10px 10px 20px;
    font-size: 8px;
}

.footer__nav-section__list{
    margin-right: 40px;
    font-size: 12px;
}

.footer__nav__item{
    text-decoration: none;
    color: #0C0B0B; 
    font-size: 10px;
    line-height: 20px;
}


/* text decoration */
.bold{
     font-weight: bold;
}

.white-text{
  color: #FFFFFF;
}


/* search banner styling */
.page_search{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px 20px 20px;
  margin-top: 90px;
  height: 250px;
  justify-content: center;
  justify-items: left;
}

.page_search__title{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 120px;
}

.page-search__subtitle{
  width: 60%;
  margin-bottom: 40px;
  margin-left: 120px;
}

.page_search__controls{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 120px;
}

.search-bar{
  display: flex;
  height: 60px;
  width: 80%;
  border-radius: 10px;
  border: 0.5px solid #d3d3d3;
  background-color: #FFFFFF;
  padding: 0 24px;
  font-size: 18px;
  justify-content: space-between;
}

.search-bar__input{
  border: none;
  background-color: transparent;
  width: 90%;
}

.search-bar__input:focus-visible{
  outline: none;
}

.search-bar__button{
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}

.input-group{
  color: #0C0B0B;
  margin-left: 10px;
}

/* workshop list styling */
.card-background {
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.workshop {
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255,0.8);
  border-color: #0C0B0B;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-small);
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: #FFFFFF solid;
}

.button {
  padding: 1rem;
  border-radius: 1.5rem;
  min-width: 175px;
  margin: 0.25rem;
  box-sizing: border-box;
  transition: background-color 150ms;
  text-align: center;
  cursor: pointer;
  background-color: #cfcabf;
  color: #0C0B0B;
  text-decoration: none;
  box-shadow: var(--shadow-small);
  border: #0c0b0b77 solid 0.25px;
}

.button:hover{
  background-color: #FFFFFF;
  transition: ease 0.5s;
}

.workshop__image-text{
  display: flex;
}

.workshop-image {
  background-color: var(--gray);
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
}

.workshop-controls {
  flex-shrink: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.workshop-text__list{
  padding-left: 10px;
  padding-right: 20px;
}

/* workshop detail styling */

.card {
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-small);
  display: flex;
  justify-content: space-between;
}

.workshop-title {
  font-size: 2rem;
}

.workshop-image__details {
  background-color: var(--gray);
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-right: 0.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.workshop-text{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.workshop-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Learn page styling */

.learn-card{
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-small);
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.main-learn-card{
  margin-top: 80px;
  height: 300px;
}

.half-width{
  width: 50%;
  margin-top: 50px;
}

.learn-container{
  display: flex;
}

.learn-main-title{
  font-weight: bold;
  font-size: 40px;
}

.learn-title{
  font-weight: bold;
  font-size: 25px;
}


/* Login & Register styling */
.login-register__title{
  font-weight: bold;
  font-size: 40px;
}

.login-register-card{
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-small);
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  height: 300px;
  margin-bottom: 80px;
}

.login-register__form{
  margin-bottom: 20px;
}

.login-register__form__item{
  margin-top: 5px;
}

.small-font{
  font-size: smaller;
}

.article_content{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article_link{
  color: #0C0B0B;
}

.save-card{
  display: flex;
  flex-direction: column;
}

.save-card-header{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.bookmark{
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}

.centered{
  text-align: center;
  margin-top: 30px;
}

.profile-image {
  border-radius: 100%;
  height: 15rem;
  flex-shrink: 0;
  width: 15rem;
  margin-right: 1.5rem;
  object-fit: cover;
}

.profile-display{
  display: flex;
  align-items: center;
}

.profile-size{
  width: 60%;
}

.profile-size2{
  width: 40%;
  padding: 20px;
}

.profile-list{
  list-style-type: none;
  line-height: 50px;
}

.profile-buttons{
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}