{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
<div class="card-background workshop-details">
    <section class="card workshop-header">
      <div class="workshop-info">
        <h2 class="workshop-title">{{workshop.title}}</h2>
      </div>
    </section>
    <section class="card">
      <img class="workshop-image__details" src="{% static 'images/image_placeholder.jpg' %}" alt="Placeholder">
      <div class="workshop-text">
      <p>Price: £{{ workshop.cost }}</p>
      <br>
      <p>This workshop is for {{ workshop.skill_level }} knitters.</p>
      <br>
      <p>Workshop starts on {{workshop.datetime|date:"d-m-Y" }}</p>
      <br>
      <p>{{ workshop.description }}</p>
      </div>
    </section>
</div>
</section>
{% endblock content %}