{% extends 'base.html' %}
{% load static %}
{% load stitch_filters %}

{% block content %}

<section class="page_search">
    <h1 class="page_search__title">The Stitch Dictionary...</h1>
    <p class="page-search__subtitle">Looking for a new stitch...you're in the right place!</p>
    <form action="{% url 'stitch_guide' %}" method="get" class="page_search__controls">
      <div class="search-bar">
      <input class="search-bar__input" type="text" name="stitch" id="stitch", placeholder="Search the stitch dictionary...">
      <button class="search-bar__button" type="submit"><img class="nav__svg-logo" src="{% static 'images/search.svg' %}" alt="search"></button>
      </div>
      <a class="input-group" href="{% url 'stitch_guide' %}" ><img class="nav__svg-logo" src="{% static 'images/refresh.svg' %}" alt="search"></a>
    </form>
</section>

<section>
{% include 'partials/stitches.html' %}
</section>

{% endblock content %}